*_files/
*.html
.config/heimdall/log/
.config/heimdall/www/logs/
.config/heimdall/keys/*
.config/nginx/dhparam.pem
.config/heimdall/nginx/dhparams.pem
.config/heimdall/www/app.sqlite
.vscode/saddlerto.code-workspace
docs/data/
.Rproj.user

/.luarc.json
.vscode/settings.json

reports/
images/
meetings/

**/.env
__pycache__
.venv

.tool-versions
.data