*_files/
*.html
.config/heimdall/log/
.config/heimdall/www/logs/
.config/heimdall/keys/*
.config/nginx/dhparam.pem
.config/heimdall/nginx/dhparams.pem
.config/heimdall/www/app.sqlite
.config/.env
.vscode/saddlerto.code-workspace
docs/data/
.Rproj.user
.env
.langchain.db
created_agents/
rsconnect-python/

/.luarc.json
.vscode/settings.json

reports/
images/
meetings/

**/resources/*
**/.env
__pycache__
.venv

.tool-versions
