#==================================================#
#          Required Services Configuration         #
#==================================================#

#LibreChat (api)
PORT=3080
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password1!
JWT_SECRET=secret
JWT_REFRESH_SECRET=secret

#vectordb
VECTORDB_USER=admin
VECTORDB_PASSWORD=password1!
VECTORDB_DB=vectordb_db

#litellm requirements
NUM_WORKERS=1
REDIS_PASSWORD=password1!
LITELLM_USER=admin
LITELLM_PASSWORD=password1!
LITELLM_DB=litellm_db
LITELLM_MASTER_KEY=key

#litellm default model requirements
AZURE_API_KEY_LITELLM=<azure-api_key>
AZURE_API_BASE_LITELLM=https://<my-resource>.openai.azure.com
AWS_ACCESS_KEY_ID=<aws-access-key-id>
AWS_SECRET_ACCESS_KEY=<aws-access-key>
GOOGLE_API_KEY=<google_api_key>
AWS_REGION=us-east-1
AWS_ROLE_ARN=arn:aws:account::<account-id>:account

#langflow
LANGFLOW_SUPERUSER=admin
LANGFLOW_SUPERUSER_PASSWORD=password1!
LANGFLOW_USER=user
LANGFLOW_PASSWORD=password1!
LANGFLOW_DB=langflow_db

#mongo-express (for mongodb)
ME_CONFIG_BASICAUTH_USERNAME=admin
ME_CONFIG_BASICAUTH_PASSWORD=password1!

#meilisearch
MEILI_MASTER_KEY="random-key-at-least-16-chars"

#==================================================#
#            Langfuse Configuration                #
#==================================================#

#langfuse-worker
NEXTAUTH_URL=http://langfuse-server:3000
NEXTAUTH_SECRET=secret
LANGFUSE_POSTGRES_USER=admin
LANGFUSE_POSTGRES_PASSWORD=password1!
LANGFUSE_POSTGRES_DB=langfuse_db
SALT="salt"
#generate key with openssl rand -hex 32
ENCRYPTION_KEY=<encryption-key>
CLICKHOUSE_USER=admin
CLICKHOUSE_PASSWORD=password1!
CLICKHOUSE_DB=clickhouse_db
#minio
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password1!

#langfuse-server
LANGFUSE_INIT_ORG_ID=my-org
LANGFUSE_INIT_PROJECT_ID=ToxPipe
LANGFUSE_INIT_PROJECT_PUBLIC_KEY=pk_test_123
LANGFUSE_INIT_PROJECT_SECRET_KEY=sk_test_123
LANGFUSE_INIT_PROJECT_NAME=ToxPipe
LANGFUSE_INIT_USER_EMAIL=admin@example.com
LANGFUSE_INIT_USER_NAME=admin
LANGFUSE_INIT_USER_PASSWORD=password1!

#==================================================#
#           ToxPipe-MCP Config (Optional)          #
#==================================================#
#toxpipe-mcp
CHROMA_HOST="chromadb"
CHROMA_PORT="8000"
TOXPIPE_MAX_PAPERS = 5
TOXPIPE_PAPER_CONTENT_MAX_SIZE = 10000
TOXPIPE_PUBMED_API_KEY = <pubmed-api-key>
CHEMBIOTOX_URL="https://rstudio.niehs.nih.gov/chembiotox-api/"
OPENAI_API_VERSION="2025-04-01-preview"
AZURE_OPENAI_API_KEY=${LITELLM_MASTER_KEY}
AZURE_OPENAI_ENDPOINT=http://litellm:8000
CERT_NAME="randomCert"
MCP_SERVER_URL="http://toxpipe-mcp:9222/mcp"

#==================================================#
#           API CONFIGURATION (STATIC)             #
#==================================================#

#========================#
# Moderation             #
#========================#

OPENAI_MODERATION=false
OPENAI_MODERATION_API_KEY=

BAN_VIOLATIONS=false
BAN_DURATION=1000 * 60 * 60 * 2
BAN_INTERVAL=20

LOGIN_VIOLATION_SCORE=1
REGISTRATION_VIOLATION_SCORE=1
CONCURRENT_VIOLATION_SCORE=1
MESSAGE_VIOLATION_SCORE=1
NON_BROWSER_VIOLATION_SCORE=20

LOGIN_MAX=7
LOGIN_WINDOW=5
REGISTER_MAX=5
REGISTER_WINDOW=60

LIMIT_CONCURRENT_MESSAGES=true
CONCURRENT_MESSAGE_MAX=2

LIMIT_MESSAGE_IP=true
MESSAGE_IP_MAX=40
MESSAGE_IP_WINDOW=1

LIMIT_MESSAGE_USER=false
MESSAGE_USER_MAX=40
MESSAGE_USER_WINDOW=1

ILLEGAL_MODEL_REQ_SCORE=5

#========================#
# Balance                #
#========================#

CHECK_BALANCE=false

#========================#
# Registration and Login #
#========================#

ALLOW_EMAIL_LOGIN=true
ALLOW_REGISTRATION=true
ALLOW_SOCIAL_LOGIN=false
ALLOW_SOCIAL_REGISTRATION=false

SESSION_EXPIRY=1000 * 60 * 15
REFRESH_TOKEN_EXPIRY=(1000 * 60 * 60 * 24) * 7

#===================================================#
#                        UI                         #
#===================================================#

APP_TITLE=LibreChat
CUSTOM_FOOTER="Part of NIEHS ToxPipe Platform"
HELP_AND_FAQ_URL=https://github.com/NIEHS/ToxPipe/wiki

DEBUG_LOGGING=true
DEBUG_CONSOLE=true

# RAG API settings
PDF_EXTRACT_IMAGES=false
CHUNK_SIZE=2500
CHUNK_OVERLAP=500
