dill==0.3.9
fastapi==0.115.5
langchain==0.3.7
langchain_community==0.3.7
langchain_core==0.3.19
langchain_openai==0.2.8
langfuse==2.53.9
molbloom==2.2.1
multiprocess==0.70.17
numpy==1.24.1
pandas==1.5.3
paperscraper==0.2.13
pathos==0.3.3
pydantic==2.9.2
pypdf==5.1.0
python-dotenv==1.0.1
rdkit==2024.3.5
Requests==2.32.3
RXN4Chemistry==1.14.0
tiktoken==0.8.0
toolz==1.0.0
torch==2.5.0
transformers==4.45.2
