#=====================================================================#
#                       LibreChat Configuration                       #
#=====================================================================#
# Please refer to the reference documentation for assistance          #
# with configuring your LibreChat environment. The guide is           #
# available both online and within your local LibreChat               #
# directory:                                                          #
# Online: https://docs.librechat.ai/install/configuration/dotenv.html #
# Locally: ./docs/install/configuration/dotenv.md                     #
#=====================================================================#

#==================================================#
#               Server Configuration               #
#==================================================#

EXPERIMENTAL_AGENTS=true

HOST=0.0.0.0
PORT=3080

MONGO_URI=mongodb://127.0.0.1:27017/LibreChat

NO_INDEX=true

DOMAIN_CLIENT=http://<my-server-ip>:3080
DOMAIN_SERVER=http://<my-server-ip>:3080
#DOMAIN_CLIENT=http://10.178.31.4:3080 
#DOMAIN_SERVER=http://10.178.31.4:3080
VECTDB_POSTGRES_USER=vectdb-postgres
VECTDB_POSTGRES_DB=vectdb-postgres
VECTDB_POSTGRES_PASSWORD=vectdb-password
AZURE_ENDPOINT=https://<my-resource>.openai.azure.com
#AZURE_ENDPOINT=https://toxpipe-chat.openai.azure.com
UI_USERNAME=ui-admin
UI_PASSWORD=ui-password
REDIS_AUTH=redis-password
REDIS_PASSWORD=redis-password

NEXTAUTH_SECRET=<randomly-generated-secret> #this is for langfuse
NEXTAUTH_URL=http://<my-server-ip>:3000 #my-ip
LANGFUSE_HOST=http://langfuse-server:3000
LANGFUSE_INIT_PROJECT_PUBLIC_KEY= pk-lf-<random-langfuse-key>
LANGFUSE_INIT_PROJECT_SECRET_KEY= sk-lf-<random-langfuse-key>
LANGFUSE_INIT_ORG_NAME=my-org-name
LANGFUSE_INIT_PROJECT_NAME=my-toxpipe-project-name
LANGFUSE_INIT_USER_EMAIL=admin@admin.com
LANGFUSE_INIT_USER_NAME=admin
LANGFUSE_INIT_USER_PASSWORD:=langfuse-password

LITELLM_DB_POSTGRES_USER=litellm-db-postgres
LITELLM_DB_POSTGRES_PASSWORD=litellm-db-password
LITELLM_DB_POSTGRES=litellm-db-postgres
ME_CONFIG_BASICAUTH_USERNAME=toxpipe-admin
ME_CONFIG_BASICAUTH_PASSWORD=toxpipe-admin-password
SALT=S/<salt-random-string>
ENCRYPTION_KEY=<random-key>
CLICKHOUSE_DB=clickhouse
CLICKHOUSE_USER=clickhouse
CLICKHOUSE_PASSWORD=clickhouse-password
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio-password
LANGFUSE_DB_POSTGRES_USER=langfuse-db-postgres
LANGFUSE_DB_POSTGRES_PASSWORD=langfuse-db-password
LANGFUSE_DB_POSTGRES=langfuse-db-postgres
LANGFLOW_SUPERUSER=langflow-admin
LANGFLOW_SUPERUSER_PASSWORD=langflow-admin-password
POSTGRES_LANGFLOW_USER=langflow-postgres
POSTGRES_LANGFLOW_PASSWORD=langflow-password
POSTGRES_LANGFLOW_DB=langflow-postgres
TOXPIPE_POSTGRES_USER=toxpipe-agent
TOXPIPE_POSTGRES_PASSWORD=toxpipe-agent-password
TOXPIPE_POSTGRES_DB=toxpipe-agent
GOOGLE_API_KEY=<my-google-api-key>
API_MASTER_KEY=sk-<random-master-key>
AZURE_KEY=<my-azure-openai-key>
AWS_ACCESS_KEY_ID=<my-aws-access-key-id>
AWS_SECRET_ACCESS_KEY=<my-aws-secret-access-key>
REDIS_HOST=redis
REDIS_PORT=6379
UID= #leave empty
GID= #leave empty

# RAG Settings
EMBEDDINGS_PROVIDER=ollama
EMBEDDINGS_MODEL=Losspost/stella_en_1.5b_v5:latest
OPENAI_API_VERSION=2024-02-01
COLLECTION_NAME=librechat

#===============#
# Debug Logging #
#===============#

DEBUG_LOGGING=true
DEBUG_CONSOLE=false

#===================================================#
#                     Endpoints                     #
#===================================================#

# ENDPOINTS=openAI,assistants,azureOpenAI,bingAI,google,gptPlugins,anthropic

PROXY=

#============#
# Azure      #
#============#

#EASTUS_API_KEY=<my-eastus-api-key>
#EASTUS2_API_KEY=<my-eastus2-api-key>

#AZURE_OPENAI_API_KEY=${EASTUS2_API_KEY}
#AZURE_OPENAI_EMBEDDINGS_API_KEY=${EASTUS2_API_KEY}
# AZURE_OPENAI_ENDPOINT=https://toxpipe-chat.openai.azure.com
# AZURE_OPENAI_BASEURL=https://toxpipe-chat.openai.azure.com

#AZURE_MISTRAL_API_KEY=<my-azure-mistral-api-key>
#AZURE_LLAMA2_70B_API_KEY=<my-azure-llama2-api-key>

#============#
# Google     #
#============#

# GOOGLE_MODELS=gemini-2.5-flash,gemini-2.5-pro,gemini-2.0-flash-exp,gemini-1.5-pro-002,gemini-1.5-flash-002,gemini-1.0-pro-vision-001,gemini-1.0-pro-002
# GOOGLE_REVERSE_PROXY=

#============#
# Plugins    #
#============#

# PLUGIN_MODELS=gpt-4,gpt-4-turbo-preview,gpt-4-0125-preview,gpt-4-1106-preview,gpt-4-0613,gpt-3.5-turbo,gpt-3.5-turbo-0125,gpt-3.5-turbo-1106,gpt-3.5-turbo-0613

DEBUG_PLUGINS=true


#CREDS_KEY=<my-creds-key>
#CREDS_IV=<my-creds-iv>

# Azure AI Search
#-----------------
AZURE_AI_SEARCH_SERVICE_ENDPOINT=
AZURE_AI_SEARCH_INDEX_NAME=
AZURE_AI_SEARCH_API_KEY=

AZURE_AI_SEARCH_API_VERSION=
AZURE_AI_SEARCH_SEARCH_OPTION_QUERY_TYPE=
AZURE_AI_SEARCH_SEARCH_OPTION_TOP=
AZURE_AI_SEARCH_SEARCH_OPTION_SELECT=

# DALL·E
#----------------
DALLE3_API_KEY=<my-dalle3-api-key>
DALLE3_BASEURL=https://<my-resource>.openai.azure.com/openai/deployments/dall-e-3
#DALLE3_BASEURL=https://toxpipe.openai.azure.com/openai/deployments/dall-e-3
# DALLE3_SYSTEM_PROMPT=

# DALL·E (via Azure OpenAI)
#----------------
DALLE3_AZURE_API_VERSION=2024-02-01

# Google
#-----------------
#GOOGLE_API_KEY=
GOOGLE_CSE_ID=

# Stable Diffusion
#-----------------
SD_WEBUI_URL=http://host.docker.internal:7860

# WolframAlpha
#-----------------
WOLFRAM_APP_ID=<my-wolfram-app-id>

#==================================================#
#                      Search                      #
#==================================================#

SEARCH=true
MEILI_NO_ANALYTICS=true
MEILI_HOST=http://0.0.0.0:7700
MEILI_MASTER_KEY=<my-meili-master-key>

#===================================================#
#                    User System                    #
#===================================================#

#========================#
# Moderation             #
#========================#

OPENAI_MODERATION=false
OPENAI_MODERATION_API_KEY=
# OPENAI_MODERATION_REVERSE_PROXY=

BAN_VIOLATIONS=false
BAN_DURATION=1000 * 60 * 60 * 2
BAN_INTERVAL=20

LOGIN_VIOLATION_SCORE=1
REGISTRATION_VIOLATION_SCORE=1
CONCURRENT_VIOLATION_SCORE=1
MESSAGE_VIOLATION_SCORE=1
NON_BROWSER_VIOLATION_SCORE=20

LOGIN_MAX=7
LOGIN_WINDOW=5
REGISTER_MAX=5
REGISTER_WINDOW=60

LIMIT_CONCURRENT_MESSAGES=true
CONCURRENT_MESSAGE_MAX=2

LIMIT_MESSAGE_IP=true
MESSAGE_IP_MAX=40
MESSAGE_IP_WINDOW=1

LIMIT_MESSAGE_USER=false
MESSAGE_USER_MAX=40
MESSAGE_USER_WINDOW=1

ILLEGAL_MODEL_REQ_SCORE=5

#========================#
# Balance                #
#========================#

CHECK_BALANCE=false

#========================#
# Registration and Login #
#========================#

ALLOW_EMAIL_LOGIN=true
ALLOW_REGISTRATION=true
ALLOW_SOCIAL_LOGIN=false
ALLOW_SOCIAL_REGISTRATION=false

SESSION_EXPIRY=1000 * 60 * 15
REFRESH_TOKEN_EXPIRY=(1000 * 60 * 60 * 24) * 7

JWT_SECRET=random-secret
JWT_REFRESH_SECRET=random-refresh-secret

# OpenID
#OPENID_CLIENT_ID=openid-client-id
#OPENID_CLIENT_SECRET=openid-client-secret
#OPENID_ISSUER=https://login.microsoftonline.com/14b77578-9773-42d5-8507-251ca2dc2b06/v2.0/
#OPENID_SESSION_SECRET=some-random-string-of-stuff
#OPENID_SCOPE="openid profile email"
#OPENID_CALLBACK_URL=/oauth/openid/callback

#OPENID_BUTTON_LABEL="Login with NIH Account"
#OPENID_IMAGE_URL=

#===================================================#
#                        UI                         #
#===================================================#

APP_TITLE=LibreChat
CUSTOM_FOOTER="Part of NIEHS ToxPipe Platform"
HELP_AND_FAQ_URL=https://docs.toxpipe.niehs.nih.gov

DEBUG_LOGGING=true
DEBUG_CONSOLE=true

# Langfuse

#LANGFUSE_AZURE_AD_CLIENT_ID=<my-azure-ad-client-id>
#LANGFUSE_AZURE_AD_CLIENT_SECRET=<my-azure-ad-client-secret>
#LANGFUSE_AZURE_AD_TENANT_ID=<my-azure-ad-tenant-id>

# Mistral OCR
#OCR_API_KEY=<my-ocr-api-key>
#OCR_BASEURL=https://<my-resource>.openai.azure.com

# Ollama for RAG
RAG_API_URL=http://rag_api:8001
EMBEDDINGS_PROVIDER=ollama
OLLAMA_BASE_URL=http://ollama:11434
EMBEDDINGS_MODEL=nomic-embed-text:latest

### LANGFLOW ###
# Config directory
# Directory where files, logs and database will be stored
# Example: LANGFLOW_CONFIG_DIR=~/.langflow
LANGFLOW_CONFIG_DIR=/app/langflow

# Save database in the config directory
# Values: true, false
# If false, the database will be saved in Langflow's root directory
# This means that the database will be deleted when Langflow is uninstalled
# and that the database will not be shared between different virtual environments
# Example: LANGFLOW_SAVE_DB_IN_CONFIG_DIR=true
LANGFLOW_SAVE_DB_IN_CONFIG_DIR=

# Database URL
# Postgres example: LANGFLOW_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/langflow
# SQLite example:
#LANGFLOW_DATABASE_URL=postgresql://langflow:langflow@postgres:5438/langflow #is this needed?

# Cache type
LANGFLOW_LANGCHAIN_CACHE=SQLiteCache

# Server host
# Example: LANGFLOW_HOST=127.0.0.1
LANGFLOW_HOST=

# Worker processes
# Example: LANGFLOW_WORKERS=1
LANGFLOW_WORKERS=

# Server port
# Example: LANGFLOW_PORT=7860
LANGFLOW_PORT=

# Logging level
# Example: LANGFLOW_LOG_LEVEL=critical
LANGFLOW_LOG_LEVEL=

# Path to the log file
# Example: LANGFLOW_LOG_FILE=logs/langflow.log
LANGFLOW_LOG_FILE=

# Path to the frontend directory containing build files
# Example: LANGFLOW_FRONTEND_PATH=/path/to/frontend/build/files
LANGFLOW_FRONTEND_PATH=

# Whether to open the browser after starting the server
# Values: true, false
# Example: LANGFLOW_OPEN_BROWSER=true
LANGFLOW_OPEN_BROWSER=false

# Whether to remove API keys from the projects saved in the database
# Values: true, false
# Example: LANGFLOW_REMOVE_API_KEYS=false
LANGFLOW_REMOVE_API_KEYS=false

# Whether to use RedisCache or ThreadingInMemoryCache or AsyncInMemoryCache
# Values: async, memory, redis
# Example: LANGFLOW_CACHE_TYPE=memory
# If you want to use redis then the following environment variables must be set:
# LANGFLOW_REDIS_HOST (default: localhost)
# LANGFLOW_REDIS_PORT (default: 6379)
# LANGFLOW_REDIS_DB (default: 0)
# LANGFLOW_REDIS_CACHE_EXPIRE (default: 3600)
LANGFLOW_CACHE_TYPE=

# Set AUTO_LOGIN to false if you want to disable auto login
# and use the login form to login. LANGFLOW_SUPERUSER and LANGFLOW_SUPERUSER_PASSWORD
# must be set if AUTO_LOGIN is set to false
# Values: true, false
LANGFLOW_AUTO_LOGIN=false

# Superuser username
# Example: LANGFLOW_SUPERUSER=admin
#LANGFLOW_SUPERUSER=admin

# Superuser password
# Example: LANGFLOW_SUPERUSER_PASSWORD=123456
#LANGFLOW_SUPERUSER_PASSWORD=password

# Should store environment variables in the database
# Values: true, false
LANGFLOW_STORE_ENVIRONMENT_VARIABLES=true

# STORE_URL
# Example: LANGFLOW_STORE_URL=https://api.langflow.store
# LANGFLOW_STORE_URL=

# DOWNLOAD_WEBHOOK_URL
#
# LANGFLOW_DOWNLOAD_WEBHOOK_URL=

# LIKE_WEBHOOK_URL
#
# LANGFLOW_LIKE_WEBHOOK_URL=

# Value must finish with slash /
#BACKEND_URL=http://localhost:7860/
BACKEND_URL=

DO_NOT_TRACK=true

# PGAdmin configuration
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

# RAG API settings
PDF_EXTRACT_IMAGES=false
CHUNK_SIZE=2500
CHUNK_OVERLAP=500