version: '3.4'

# Please consult our docs for more info: https://docs.librechat.ai/install/configuration/docker_override.html

services:

# USE LIBRECHAT CONFIG FILE
  api:
    volumes:
      - ./librechat.yaml:/app/librechat.yaml
      - ./.env:/app/.env
      - ../cbt-mcp/src/cbtmcp.py:/app/cbtmcp/cbtmcp.py
      - ../cbt-mcp/mcpenv/:/app/cbtmcp/mcpenv/
    labels:
      traefik.docker.network: "autonomous"
      traefik.enable: "true"
    networks:
      - autonomous
    environment:
      - MEILI_NO_SYNC=true

  mongodb:
    networks:
      - autonomous
    ports:
      - 27017:27017
  meilisearch:
    networks:
      - autonomous

  dashy:
    image: lissy93/dashy:latest
    networks:
      - autonomous
    ports:
      - 8082:443
    volumes:
      - ./user-data/:/app/user-data/


# USE RAG API IMAGE WITH LOCAL EMBEDDINGS SUPPORT
  rag_api:
    image: ghcr.io/danny-avila/librechat-rag-api-dev:latest
    environment:
      - AZURE_OPENAI_ENDPOINT=${AZURE_ENDPOINT}
      - OPENAI_API_VERSION=2024-02-01
    networks:
      - autonomous
    ports:
      - 8001:8000

  vectordb:
    image: pgvector/pgvector:pg16
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=${VECTDB_POSTGRES_USER}
      - POSTGRES_PASSWORD=${VECTDB_POSTGRES_PASSWORD}
      - POSTGRES_DB=${VECTDB_POSTGRES_DB}
    volumes:
      - librechat-pg:/var/lib/postgresql/data
    networks:
      - autonomous

  ollama:
    container_name: ollama
    image: ollama/ollama:latest
    #deploy:
    #  resources:
    #    reservations:
    #      devices:
    #        - driver: nvidia
    #          capabilities: [compute, utility]
              #ports:
              #- 11434:11434
    volumes:
      - /data/models:/root/models
      - ollama:/root/.ollama
    networks:
      - autonomous

  # ADD LITELLM BASIC - NEED TO CONFIGURE litellm-config.yaml, ONLY NEED ENV TO ENABLE REDIS FOR CACHING OR LANGFUSE FOR MONITORING
  litellm:
    container_name: litellm
    #image: ghcr.io/berriai/litellm:main-latest
    image: ghcr.io/berriai/litellm:main-v1.61.1
    #image: ghcr.io/berriai/litellm:main-v1.80.11
    ports:
      - "8000:8000"
    volumes:
      - ./.litellm/litellm-config.yaml:/app/config.yaml
      - ./api/data/auth.json:/app/application_default_credentials.json
    depends_on:
      litellm-db:
        condition: service_healthy
    restart: unless-stopped
    command: [ "--config", "/app/config.yaml", "--port", "8000", "--num_workers", "1" ] #CHANGE FOR MORE WORKERS
    env_file:
      - .env
    environment:
      UI_USERNAME: ${UI_USERNAME}
      UI_PASSWORD: ${UI_PASSWORD}
      #GOOGLE_APPLICATION_CREDENTIALS: /app/application_default_credentials.json
      #OPENAI_API_KEY: ollama ## needs to be set if ollama's openai api compatibility is used
      DATABASE_URL: postgresql://${LITELLM_DB_POSTGRES_USER}:${LITELLM_DB_POSTGRES_PASSWORD}@litellm-db:5432/${LITELLM_DB_POSTGRES}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      LANGFUSE_PUBLIC_KEY: ${LANGFUSE_INIT_PROJECT_PUBLIC_KEY}
      LANGFUSE_SECRET_KEY: ${LANGFUSE_INIT_PROJECT_SECRET_KEY}
      LANGFUSE_HOST: ${LANGFUSE_HOST}
      #LITELLM_LOG: DEBUG
      AWS_REGION: us-east-1
      AWS_ROLE_ARN: arn:aws:account::956747263890:account
    labels:
      traefik.docker.network: "autonomous"
      traefik.enable: "true"
    networks:
      - autonomous

  llama-index-mongodb:
    container_name: llama-index-mongodb
    image: mongo
    restart: always
    user: "${UID}:${GID}"
    volumes:
      - ./llama-index-mongodb-data:/data/db
    command: mongod --noauth --dbpath /data/db
    networks:
      - autonomous
    ports:
      - 7733:27017

  # ADD LITELLM CACHING
  redis:
    image: redis:7-alpine
    command:
    - sh
    - -c # this is to evaluate the $REDIS_PASSWORD from the env
    - redis-server --appendonly yes --requirepass $$REDIS_PASSWORD ## $$ because of docker-compose
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    volumes:
      - ./redis:/data
    networks:
      - autonomous

  litellm-db:
    image: postgres:16.4
    restart: always
    environment:
      - POSTGRES_USER=${LITELLM_DB_POSTGRES_USER}
      - POSTGRES_PASSWORD=${LITELLM_DB_POSTGRES_PASSWORD}
      - POSTGRES_DB=${LITELLM_DB_POSTGRES}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${LITELLM_DB_POSTGRES_USER}"]
    ports:
      - 5434:5432
    volumes:
      - litellm-pg:/var/lib/postgresql/data
    networks:
      - autonomous

  # Live log monitoring
  dozzle:
    container_name: dozzle
    image: amir20/dozzle:latest
    environment:
      - DOZZLE_AUTH_PROVIDER=simple
    secrets:
      - source: users
        target: /data/users.yml
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - dozzle:/data
    ports:
      - 8888:8080
    networks:
      - autonomous

# ADD MONGO-EXPRESS
  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    environment:
            #ME_CONFIG_MONGODB_URL: mongodb://toxpipe-user:i9ckGdM9hnDXk@mongodb:27017
      ME_CONFIG_MONGODB_URL: mongodb://mongodb:27017
      ME_CONFIG_BASICAUTH_ENABLED: true # This enables non-default user/pwd login 
      ME_CONFIG_BASICAUTH_USERNAME: ${ME_CONFIG_BASICAUTH_USERNAME}
      ME_CONFIG_BASICAUTH_PASSWORD: ${ME_CONFIG_BASICAUTH_PASSWORD}
      #ME_CONFIG_MONGODB_ENABLE_ADMIN: true
      #ME_CONFIG_MONGODB_ADMINUSERNAME: toxpipe-user
      #ME_CONFIG_MONGODB_ADMINPASSWORD: i9ckGdM9hnDXk
      #ME_CONFIG_MONGODB_AUTH_DATABASE: admin
      #ME_CONFIG_MONGODB_AUTH_USERNAME: toxpipe-user
      #ME_CONFIG_MONGODB_AUTH_PASSWORD: i9ckGdM9hnDXk
    ports:
      - '8081:8081'
    depends_on:
      - mongodb
    restart: always
    networks:
      - autonomous

  # ChromaDB database that hosts embeddings for NTP documents
  chromadb:
    image: ghcr.io/chroma-core/chroma:latest
    #image: ghcr.io/chroma-core/chroma:0.6.4.dev361 # use specific version to avoid breaking changes, updating this causes a key error in the agentic API 
    container_name: chromadb
    restart: always
    ports:
      - "8009:8000" # LiteLLM already uses 8000, so we use 8009 for ChromaDB
    healthcheck:
      test: [ "CMD", "/bin/bash", "-c", "cat < /dev/null > /dev/tcp/localhost/8000" ]
      interval: 30s
      timeout: 3600s
      retries: 5
    volumes:
      - ./ntp_docs_rag_db/chroma-data:/data
    networks:
      - autonomous

  # ChromaDB database that hosts gene embeddings
  chromadb-genes:
    image: ghcr.io/chroma-core/chroma:1.0.0
    container_name: chromadb-genes
    restart: always
    ports:
      - "8099:8000" # LiteLLM already uses 8000, so we use 8099 for ChromaDB
    healthcheck:
      test: [ "CMD", "/bin/bash", "-c", "cat < /dev/null > /dev/tcp/localhost/8000" ]
      interval: 30s
      timeout: 3600s
      retries: 5
    volumes:
      - ./chromadb_genes/chroma-data:/data
    networks:
      - autonomous

  langfuse-worker:
    image: docker.io/langfuse/langfuse-worker:3
    restart: always
    depends_on: &langfuse-depends-on
      langfuse-db:
        condition: service_healthy
      minio:
        condition: service_healthy
      redis-langfuse:
        condition: service_healthy
      clickhouse:
        condition: service_healthy
    ports:
      - 3030:3030
    environment: &langfuse-worker-env
      NEXTAUTH_URL: ${NEXTAUTH_URL}
      DATABASE_URL: postgresql://${LANGFUSE_DB_POSTGRES_USER}:${LANGFUSE_DB_POSTGRES_PASSWORD}@langfuse-db:5432/${LANGFUSE_DB_POSTGRES}
      SALT: ${SALT}
      ENCRYPTION_KEY: ${ENCRYPTION_KEY}
      TELEMETRY_ENABLED: ${TELEMETRY_ENABLED:-true}
      LANGFUSE_ENABLE_EXPERIMENTAL_FEATURES: ${LANGFUSE_ENABLE_EXPERIMENTAL_FEATURES:-true}
      CLICKHOUSE_MIGRATION_URL: ${CLICKHOUSE_MIGRATION_URL:-clickhouse://clickhouse:9000}
      CLICKHOUSE_URL: ${CLICKHOUSE_URL:-http://clickhouse:8123}
      CLICKHOUSE_USER: ${CLICKHOUSE_USER:-clickhouse}
      CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD:-clickhouse} # CHANGEME
      CLICKHOUSE_CLUSTER_ENABLED: ${CLICKHOUSE_CLUSTER_ENABLED:-false}
      LANGFUSE_USE_AZURE_BLOB: ${LANGFUSE_USE_AZURE_BLOB:-false}
      LANGFUSE_S3_EVENT_UPLOAD_BUCKET: ${LANGFUSE_S3_EVENT_UPLOAD_BUCKET:-langfuse}
      LANGFUSE_S3_EVENT_UPLOAD_REGION: ${LANGFUSE_S3_EVENT_UPLOAD_REGION:-auto}
      LANGFUSE_S3_EVENT_UPLOAD_ACCESS_KEY_ID: ${MINIO_ROOT_USER} #LANGFUSE_S3_EVENT_UPLOAD_ACCESS_KEY_ID:-minio}
      LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY: ${MINIO_ROOT_PASSWORD} #LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY:-miniosecret} # CHANGEME
      LANGFUSE_S3_EVENT_UPLOAD_ENDPOINT: ${LANGFUSE_S3_EVENT_UPLOAD_ENDPOINT:-http://minio:9000}
      LANGFUSE_S3_EVENT_UPLOAD_FORCE_PATH_STYLE: ${LANGFUSE_S3_EVENT_UPLOAD_FORCE_PATH_STYLE:-true}
      LANGFUSE_S3_EVENT_UPLOAD_PREFIX: ${LANGFUSE_S3_EVENT_UPLOAD_PREFIX:-events/}
      LANGFUSE_S3_MEDIA_UPLOAD_BUCKET: ${LANGFUSE_S3_MEDIA_UPLOAD_BUCKET:-langfuse}
      LANGFUSE_S3_MEDIA_UPLOAD_REGION: ${LANGFUSE_S3_MEDIA_UPLOAD_REGION:-auto}
      LANGFUSE_S3_MEDIA_UPLOAD_ACCESS_KEY_ID: ${MINIO_ROOT_USER} #LANGFUSE_S3_MEDIA_UPLOAD_ACCESS_KEY_ID:-minio}
      LANGFUSE_S3_MEDIA_UPLOAD_SECRET_ACCESS_KEY: ${MINIO_ROOT_PASSWORD} #LANGFUSE_S3_MEDIA_UPLOAD_SECRET_ACCESS_KEY:-miniosecret} # CHANGEME
      LANGFUSE_S3_MEDIA_UPLOAD_ENDPOINT: ${LANGFUSE_S3_MEDIA_UPLOAD_ENDPOINT:-http://localhost:9090}
      LANGFUSE_S3_MEDIA_UPLOAD_FORCE_PATH_STYLE: ${LANGFUSE_S3_MEDIA_UPLOAD_FORCE_PATH_STYLE:-true}
      LANGFUSE_S3_MEDIA_UPLOAD_PREFIX: ${LANGFUSE_S3_MEDIA_UPLOAD_PREFIX:-media/}
      LANGFUSE_S3_BATCH_EXPORT_ENABLED: ${LANGFUSE_S3_BATCH_EXPORT_ENABLED:-false}
      LANGFUSE_S3_BATCH_EXPORT_BUCKET: ${LANGFUSE_S3_BATCH_EXPORT_BUCKET:-langfuse}
      LANGFUSE_S3_BATCH_EXPORT_PREFIX: ${LANGFUSE_S3_BATCH_EXPORT_PREFIX:-exports/}
      LANGFUSE_S3_BATCH_EXPORT_REGION: ${LANGFUSE_S3_BATCH_EXPORT_REGION:-auto}
      LANGFUSE_S3_BATCH_EXPORT_ENDPOINT: ${LANGFUSE_S3_BATCH_EXPORT_ENDPOINT:-http://minio:9000}
      LANGFUSE_S3_BATCH_EXPORT_EXTERNAL_ENDPOINT: ${LANGFUSE_S3_BATCH_EXPORT_EXTERNAL_ENDPOINT:-http://localhost:9090}
      LANGFUSE_S3_BATCH_EXPORT_ACCESS_KEY_ID: ${MINIO_ROOT_USER} #LANGFUSE_S3_BATCH_EXPORT_ACCESS_KEY_ID:-minio}
      LANGFUSE_S3_BATCH_EXPORT_SECRET_ACCESS_KEY: ${MINIO_ROOT_PASSWORD} #LANGFUSE_S3_BATCH_EXPORT_SECRET_ACCESS_KEY:-miniosecret} # CHANGEME
      LANGFUSE_S3_BATCH_EXPORT_FORCE_PATH_STYLE: ${LANGFUSE_S3_BATCH_EXPORT_FORCE_PATH_STYLE:-true}
      LANGFUSE_INGESTION_QUEUE_DELAY_MS: ${LANGFUSE_INGESTION_QUEUE_DELAY_MS:-}
      LANGFUSE_INGESTION_CLICKHOUSE_WRITE_INTERVAL_MS: ${LANGFUSE_INGESTION_CLICKHOUSE_WRITE_INTERVAL_MS:-}
      REDIS_HOST: ${REDIS_HOST:-redis-langfuse}
      REDIS_PORT: ${REDIS_PORT:-6379}
      REDIS_AUTH: ${REDIS_AUTH:-password} # CHANGEME
      REDIS_TLS_ENABLED: ${REDIS_TLS_ENABLED:-false}
      REDIS_TLS_CA: ${REDIS_TLS_CA:-/certs/ca.crt}
      REDIS_TLS_CERT: ${REDIS_TLS_CERT:-/certs/redis.crt}
      REDIS_TLS_KEY: ${REDIS_TLS_KEY:-/certs/redis.key}
      EMAIL_FROM_ADDRESS: ${EMAIL_FROM_ADDRESS:-}
      SMTP_CONNECTION_URL: ${SMTP_CONNECTION_URL:-}
      #AUTH_AZURE_AD_CLIENT_ID: ${LANGFUSE_AZURE_AD_CLIENT_ID}
      #AUTH_AZURE_AD_CLIENT_SECRET: ${LANGFUSE_AZURE_AD_CLIENT_SECRET}
      #AUTH_AZURE_AD_TENANT_ID: ${LANGFUSE_AZURE_AD_TENANT_ID}
      #AUTH_AZURE_ALLOW_ACCOUNT_LINKING: true
      LANGFUSE_DEBUG: true
    labels:
      traefik.docker.network: "autonomous"
      traefik.enable: "true"
    networks:
      - autonomous

  langfuse-server:
    image: docker.io/langfuse/langfuse:3
    restart: always
    depends_on: *langfuse-depends-on
    ports:
      - 3000:3000
    environment:
      <<: *langfuse-worker-env
      NEXTAUTH_URL: ${NEXTAUTH_URL}
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
      LANGFUSE_INIT_ORG_ID: ${LANGFUSE_INIT_ORG_ID:-}
      LANGFUSE_INIT_ORG_NAME: ${LANGFUSE_INIT_ORG_NAME:-}
      LANGFUSE_INIT_PROJECT_ID: ${LANGFUSE_INIT_PROJECT_ID:-}
      LANGFUSE_INIT_PROJECT_NAME: ${LANGFUSE_INIT_PROJECT_NAME:-}
      LANGFUSE_INIT_PROJECT_PUBLIC_KEY: ${LANGFUSE_INIT_PROJECT_PUBLIC_KEY:-}
      LANGFUSE_INIT_PROJECT_SECRET_KEY: ${LANGFUSE_INIT_PROJECT_SECRET_KEY:-}
      LANGFUSE_INIT_USER_EMAIL: ${LANGFUSE_INIT_USER_EMAIL:-}
      LANGFUSE_INIT_USER_NAME: ${LANGFUSE_INIT_USER_NAME:-}
      LANGFUSE_INIT_USER_PASSWORD: ${LANGFUSE_INIT_USER_PASSWORD:-}
      AUTH_DISABLE_USERNAME_PASSWORD: false
      #AUTH_AZURE_AD_CLIENT_ID: ${LANGFUSE_AZURE_AD_CLIENT_ID}
      #AUTH_AZURE_AD_CLIENT_SECRET: ${LANGFUSE_AZURE_AD_CLIENT_SECRET}
      #AUTH_AZURE_AD_TENANT_ID: ${LANGFUSE_AZURE_AD_TENANT_ID}
      #AUTH_AZURE_ALLOW_ACCOUNT_LINKING: true
      LANGFUSE_DEBUG: true
    labels:
      traefik.docker.network: "autonomous"
      traefik.enable: "true"
    networks:
      - autonomous

  clickhouse:
    image: docker.io/clickhouse/clickhouse-server
    restart: always
    user: "101:101"
    environment:
      CLICKHOUSE_DB: ${CLICKHOUSE_DB}
      CLICKHOUSE_USER: ${CLICKHOUSE_USER}
      CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD} # CHANGEME
    volumes:
      - langfuse_clickhouse_data:/var/lib/clickhouse
      - langfuse_clickhouse_logs:/var/log/clickhouse-server
    ports:
      - 8123:8123
      - 9000:9000
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:8123/ping || exit 1
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 1s
    labels:
      traefik.docker.network: "autonomous"
      traefik.enable: "true"
    networks:
      - autonomous

  minio:
    image: docker.io/minio/minio
    restart: always
    entrypoint: sh
    # create the 'langfuse' bucket before starting the service
    command: -c 'mkdir -p /data/langfuse && minio server --address ":9000" --console-address ":9001" /data'
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD} # CHANGEME
    ports:
      - 9090:9000
      - 127.0.0.1:9091:9001
    volumes:
      - langfuse_minio_data:/data
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 1s
      timeout: 5s
      retries: 5
      start_period: 1s
    labels:
      traefik.docker.network: "autonomous"
      traefik.enable: "true"
    networks:
      - autonomous

  redis-langfuse:
    image: docker.io/redis:7
    restart: always
    # CHANGEME: row below to secure redis password
    command: >
      --requirepass ${REDIS_AUTH:-password}
    ports:
      - 127.0.0.1:6379:6379
    volumes:
      - ./redis-langfuse:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 3s
      timeout: 10s
      retries: 10
    labels:
      traefik.docker.network: "autonomous"
      traefik.enable: "true"
    networks:
      - autonomous

  langfuse-db:
    image: docker.io/postgres:17.7
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${LANGFUSE_DB_POSTGRES_USER}"]
      interval: 3s
      timeout: 3s
      retries: 10
    environment:
      - POSTGRES_USER=${LANGFUSE_DB_POSTGRES_USER}
      - POSTGRES_PASSWORD=${LANGFUSE_DB_POSTGRES_PASSWORD}
      - POSTGRES_DB=${LANGFUSE_DB_POSTGRES}
        #- PG_DATA=/var/lib/postgresql/18/docker
    ports:
      - 5435:5432
    volumes:
      - langfuse_postgres_data:/var/lib/postgresql/data
            #- langfuse_postgres_data:/var/lib/postgresql/18/docker
    labels:
      traefik.docker.network: "autonomous"
      traefik.enable: "true"
    networks:
      - autonomous

  langflow:
    container_name: langflow
    image: langflowai/langflow:latest # or another version tag on https://hub.docker.com/r/langflowai/langflow 
    pull_policy: always               # set to 'always' when using 'latest' image
    ports:
      - "7860:7860"
    depends_on:
      - postgres-langflow
    environment:
      - LANGFLOW_SUPERUSER=${LANGFLOW_SUPERUSER}
      - LANGFLOW_SUPERUSER_PASSWORD=${LANGFLOW_SUPERUSER_PASSWORD}
      - LANGFLOW_AUTO_LOGIN=false
      - LANGFLOW_DATABASE_URL=postgresql://${POSTGRES_LANGFLOW_USER}:${POSTGRES_LANGFLOW_PASSWORD}@postgres-langflow:5432/${POSTGRES_LANGFLOW_DB}
      # This variable defines where the logs, file storage, monitor data and secret keys are stored.
    restart: always
    volumes:
      - langflow-data:/app/langflow
    networks:
      - autonomous

  postgres-langflow:
    container_name: postgres-langflow
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_LANGFLOW_USER}
      POSTGRES_PASSWORD: ${POSTGRES_LANGFLOW_PASSWORD}
      POSTGRES_DB: ${POSTGRES_LANGFLOW_DB}
    restart: always
    volumes:
      - langflow-postgres:/var/lib/postgresql/data
    ports:
      - "5438:5432"
    networks:
      - autonomous

  postgres-toxpipe-agent:
    container_name: postgres-toxpipe-agent
    image: postgres:16
    environment:
      POSTGRES_USER: ${TOXPIPE_POSTGRES_USER}
      POSTGRES_PASSWORD: ${TOXPIPE_POSTGRES_PASSWORD}
      POSTGRES_DB: ${TOXPIPE_POSTGRES_DB}
    restart: always
    volumes:
      - ./toxpipe-agent-postgres:/var/lib/postgresql/data
    ports:
      - "5439:5432"
    networks:
      - autonomous

# Traefik network
networks:
  autonomous:
    driver: bridge #overlay
    #external: true
   
secrets:
  users:
    file: dozzle/users.yml

volumes:
  librechat-pg:
  langfuse-pg:
  litellm-pg:
  ollama:
  langfuse_postgres_data:
    driver: local
  langfuse_clickhouse_data:
    driver: local
  langfuse_clickhouse_logs:
    driver: local
  langfuse_minio_data:
    driver: local
  langflow-postgres:
  langflow-data:
  toxpipe-agent-postgres:
  dozzle:
