# ToxPipe API settings
TOXPIPE_AUTH_MODE=False # Must be False for public API, True for Private API. When in doubt, set to False.
TOXPIPE_VERBOSE=False # Run agents in verbose mode? 
TOXPIPE_CACHE=False # Cache agent responses?
TOXPIPE_CBT_MAX_RESULTS=10 # Max number of response items to return from the ChemBioTox API

# OpenAI
OPENAI_API_KEY="sk-_1234"
OPENAI_BASE_URL="https://example.com"
OPENAI_API_VERSION="2025-03-01"

# Azure
AZURE_OPENAI_API_KEY="sk-_1234"
AZURE_OPENAI_ENDPOINT="https://example.com"

# MistalAI
MISTRAL_API_KEY="sk-_1234"
MISTRAL_BASE_URL="https://example.com"

# OLLAMA models
OLLAMA_HOST="http://example.com"

# Anthropic models
ANTHROPIC_API_KEY="sk-_1234"
ANTHROPIC_BASE_URL="https://example.com"

# Google AI models
GOOGLE_API_KEY="sk-_1234"
GOOGLE_BASE_URL="https://example.com"

# Semantic Scholar - for summarizing scientific papers
SEMANTIC_SCHOLAR_API_KEY="1234"

# Address for ChemBioTox API
CBT_API_ENDPOINT="https://example.com"
CONNECT_SERVER="https://example.com"
CONNECT_API_KEY="1234"

# Langfuse
LANGFUSE_SECRET_KEY="sk-1234"
LANGFUSE_PUBLIC_KEY="pk-1234"
LANGFUSE_HOST="https://example.com"

# RXN4Chem
RXN4CHEM_PROJECT_ID="1234"

# Paperscraper - literature search
PAPERSCRAPER_DIR="./papers"
PAPERSCRAPER_DUMP_DIR="./server_dumps"

# Postgres Connection
TOXPIPE_POSTGRES_HOST='example.com'
TOXPIPE_POSTGRES_USER='user'
TOXPIPE_POSTGRES_PASSWORD='pass'
TOXPIPE_POSTGRES_PORT='5432'
TOXPIPE_POSTGRES_DATABASE='example'