#============#
# OpenAI     #
#============#

OPENAI_BASE_URL=https://litellm.toxpipe.niehs.nih.gov
OPENAI_API_KEY=sk-1234
OPENAI_API_VERSION=2024-02-01

AZURE_OPENAI_MODEL=azure-gpt-4o

LANGFUSE_HOST=https://langfuse.toxpipe.niehs.nih.gov
LANGFUSE_PUBLIC_API_KEY=pk-1234
LANGFUSE_SECRET_API_KEY=sk-1234
