users:
  # Generate new users with the following and paste here:
  # docker run -it --rm amir20/dozzle generate <username> --password <password> --email <email> --name "<name>"

  # Example:
  # docker run -it --rm amir20/dozzle generate admin --password my_password --email me@email.net --name "Admin" 
  # "admin" here is username
  # "my_password" is the password for signing into the ui, represented by the hash below
  # results from the command would be pasted as shown below

  #admin:
  #  email: me@email.net
  #  name: Admin
  #  password: $2a$11$2wepioHpXklEkuQA7KU5QOgB5X.NU.rP6jQ52ZCxYs0Wq/1SV16a6