# Replace <my-server-ip> with your servers ip address. 
# Alternatively, if you setup custom domains change all urls accordingly
pageInfo:
  title: ToxPipe
sections:
  - name: ToxPipe Tools
    icon: far fa-toolbox
    items:
      - title: LibreChat
        description: A ChatGPT-like interface for conversing with an AI model or agent
        icon: far fa-robot
        url: http://<my-server-ip>:3080 # CHANGEME
        id: 0_1274_librechat
      - title: LiteLLM
        description: API for unified LLM access
        icon: far fa-code
        url: http://<my-server-ip>:8000 # CHANGEME
        id: 1_1274_litellm
      - title: ToxPipe Evaluations
        description: Application for testing and auditing models and agents
        icon: far fa-vial
        url: https://rstudio.niehs.nih.gov/tox-eval/
        id: 3_1274_toxpipeevaluations
      - title: ChemBioTox API
        description: >-
          API for interfacing with the ChemBioTox database, which contains
          experimental and predicted chemical toxicology data
        icon: far fa-code
        url: https://rstudio.niehs.nih.gov/chembiotox-api/
        id: 4_1274_chembiotoxapi
      - title: LangFlow
        description: Interface for visually creating AI workflows
        icon: far fa-robot
        url: http://<my-server-ip>:7860 # CHANGEME

  - name: ToxPipe Backend
    icon: far fa-database
    items:
      - title: Mongo Express
        description: >-
          Interface for MongoDB instance that stores history and config for
          LibreChat
        icon: far fa-database
        url: http://<my-server-ip>:8081 # CHANGEME
        id: 0_1425_mongoexpress
  - name: ToxPipe Management
    icon: far fa-wrench
    items:
      - title: Dozzle
        description: Interface for monitoring logs
        icon: far fa-chart-bar
        url: http://<my-server-ip>:8888/ # CHANGEME
        id: 1_1766_dozzle
      - title: LangFuse
        description: Interface for monitoring LLM queries
        icon: far fa-chart-bar
        url: https://<my-server-ip>:3000 # CHANGEME
  - name: ToxPipe Documentation
    icon: far fa-book
    items:
      - title: ToxPipe Repository
        description: Code repository for ToxPipe tools, backend infrastructure, and APIs
        icon: fab fa-github
        url: https://github.com/NIEHS/ToxPipe
        id: 0_2115_toxpiperepository
      - title: ToxPipe Evaluations Repository
        description: Code repository for ToxPipe evaluations and model comparisons
        icon: fab fa-github
        url: https://github.com/NIEHS/ToxPipe-Model-Comparison
      - title: ToxPipe Wiki
        description: Wiki with guides, FAQs, and information
        icon: far fa-book
        url: https://github.com/NIEHS/ToxPipe/wiki
      - title: Dyad Setup
        description: Guide for setting up a vibe-coding client with ToxPipe models
        icon: far fa-book
        url: https://github.com/NIEHS/ToxPipe/blob/main/guides/setup.md
  - name: Related Projects
    icon: far fa-folder-open
    items:
      - title: ChemBioTox API Repository
        description: API for interfacing with the ChemBioTox database, containing predicted and experimental data for 1,000,000+ chemicals
        icon: fab fa-github
        url: https://github.com/NIEHS/chembiotox-api
        id: 1_2115_chembiotoxapirepository
      - title: InterCiteR Repository
        description: Shiny application for working with citations, documents, and embeddings search with AI
        icon: fab fa-github
        url: https://github.com/NIEHS/InterCiteR
      - title: ToxPipeMCP Repository
        description: MCP server with various toxicological tools and CBT integration
        icon: fab fa-github
        url: https://github.com/NIEHS/ToxPipeMCP
      - title: ToxPipeMCP-Suite Repository
        description: Collection of MCP servers extending functionality of ToxPipeMCP that interface with external APIs
        icon: fab fa-github
        url: https://github.com/NIEHS/ToxPipeMCP-Suite
appConfig:
  layout: horizontal
  iconSize: large

